* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1.45rem;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  transition: all 0.25s ease;

  div.logo {
    display: flex;
    align-items: center;
    flex: 5 1 300px;
    margin-left: 2rem;
    img {
      width: 6vw;
      height: 6vw;
    }
  }
  nav {
    flex: 2 1 300px;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        a {
          color: #f3c5c5;
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }
  }
}

main {
  section.backImage {
    min-height: 80vh;
    width: 100%;
    background-image: url(../Pictures/櫻花封面superidoljp.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
      font-size: 2rem;
      color: black;
      margin: 0.3rem 0rem;
    }

    button.start {
      background-color: #f4bfbf;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      color: white;
      border: none;
      border-radius: 0.75rem;
      cursor: pointer;
    }
  }

  section.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 1.2rem;
      margin: 2rem 0rem;
    }

    section.cards {
      display: flex;
      width: 80%;
      min-height: 80vh;
      flex-wrap: wrap;

      div.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        flex: 1 1 300px;

        img {
          margin: 1rem 0rem;
          width: 15vw;
          height: 15vw;
        }
        h4 {
          font-size: 1.5rem;
          margin: 1rem 0rem;
        }
        p {
          font-size: 1rem;
        }
        a {
          margin: 1rem 0rem;
          text-decoration: none;
          padding: 0.75rem 1.5rem;
          background-color: #f2d1d1;
          color: white;
          font-size: 1rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  justify-content: space-around;
  background-color: #f8edeb;

  div.logo {
    display: flex;
    align-items: center;

    img {
      width: 6vw;
      height: 6vw;
    }
  }

  nav {
    width: 30%;

    ul {
      display: flex;
      list-style-type: none;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;

      li {
        flex-basis: 90px;
        a {
          text-decoration: none;
          color: #f3c5c5;
          font-size: 1.35rem;
          font-weight: 600;
        }
      }
    }
  }
  section.links {
    a {
      margin: 0rem 1rem;
      img {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  main {
    section.second {
      section.cards {
        div.card {
          img {
            width: 30vw;
            height: 30vw;
          }
        }
      }
    }
  }
}

@media sereen and (max-width: 450px) {
  header {
    div.logo {
      img {
        width: 6vw;
        height: 6vw;
      }
    }
  }
  footer {
    div.logo {
      width: 6vw;
      height: 6vw;
    }
    section.links {
      margin-top: 1rem;
      a {
        width: 3vw;
        height: 3vw;
      }
    }
  }
}
